:root {
  --line-dark: #34363e;
  --expand-time: 0.5s;
  --opti-max-width: 600px;
}

.optisearchbox {
  margin: 20px 0 20px 0;
  border-radius: 8px;
  min-width: 250px;
  max-width: var(--opti-max-width);
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 2px 0px, rgb(0 0 0 / 15%) 1px 3px 8px 0px;
  overflow: hidden;
  transition: min-width var(--expand-time) linear;
}

[data-optisearch-column=wide] .optisearchbox {
  min-width: var(--opti-max-width);
}