@font-face{
 font-family: ChatIconsFont;
 src: url(moz-extension://__MSG_@@extension_id__/src/images/chat_icons_font.woff) format('woff');
}

.optisearchbox[optichat]:not(.mainchat) {
    display: none;
}

.optisearchbox[optichat]:not(.asked):not([action]) > hr,
.optisearchbox[optichat]:not(.asked):not([action]) > .optibody,
.optisearchbox[optichat]:not(.asked) .left-buttons-container {
    display: none;
}

.optisearchbox[optichat].asked .ask-button {
    display: none;
}

.optisearchbox[optichat] .optiheader {
  margin: 10px 0;
  display: flex;
}

.chatgpt-button {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin: 0.5em 0;
  border-radius: 5px;
  border: 1px solid;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
}

.optisearchbox[optichat]:not([action]) .action-button {
  display: none;
}

.chatgpt-button.ask-button {
    margin: auto;
    margin-left: .5em;
    margin-right: 4em;
    max-width: 100%;
    min-width: 30%;
}

.chatgpt-button[name=google-account] {
  font-size: medium;
  text-align: left;
}


.optisearchbox[optichat] .optifoot a.source {
  position: relative;
  white-space: nowrap;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 2px 1px;
  line-height: 1.8em;
}
.optisearchbox[optichat] a.source.superscript {
  font-size: smaller;
  bottom: 0.5em;
  padding: 1px 4px;
  position: relative;
  border-radius: 3px;
}
.optisearchbox[optichat] .title {
  vertical-align: middle;
  margin: 0px 5px;
  cursor: pointer;
  color: inherit !important;
}

.chat-info {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ai-dropdown { 
  display: inline-flex;
  align-items: center;
  position: relative;
  user-select: none;
  white-space: nowrap;
  font-size: 1.3em;
  cursor: pointer;
  background: none;
  border: none;
}

/* Dropdown arrow */
.ai-selected .title::after {
  content: "";
  display: inline-block;
  margin-left: 6px;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid currentColor;
}

.ai-dropdown-menu {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  min-width: 160px;
  max-height: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  border-radius: 4px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #fff;
  --dropdow-option-vertical-padding: 0.6em; 
  --dropdow-option-horizontal-padding: 0.8rem; 
  margin-top: var(--dropdow-option-vertical-padding);
  margin-left: calc(-1 * var(--dropdow-option-horizontal-padding));
  z-index: 999;
}
.dark .ai-dropdown-menu {
  background-color: #333;
}
.ai-dropdown-option {
  padding: var(--dropdow-option-vertical-padding) var(--dropdow-option-horizontal-padding);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}
.ai-dropdown-option:not(.has-extension) {
  opacity: 50%;
}
.ai-dropdown-option:not(.has-extension):not(:has(.ai-option-link:hover)):hover .title{
  text-decoration:underline;
}
.ai-dropdown-option:hover {
  background: #f0f0f0;
}
.dark .ai-dropdown-option:hover {
  background: #444;
}
.ai-dropdown-option:has(.ai-option-link:hover) {
  background: transparent;
}
.ai-dropdown-option .ai-option-link {
  margin-left: auto;
}
.ai-dropdown-option .ai-option-link:hover {
  text-decoration: none;
  font-weight: bold;
}

.ai-dropdown img {
  vertical-align: middle;
}

.learnmore > a[data-invisible-count="0"] {
  display: none;
}
.learnmore > .showmore {
  cursor: pointer;
}
.learnmore.less > a[more] {
  display: none;
}

/*---------------Discussion------------------*/
.response-container .input-container,
.response-container .box-message-container.user{
  display: none;
}
.response-container .message-container {
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.chat-container *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.chat-container *::-webkit-scrollbar-thumb {
  background-color: #686868;
  border-radius: 20px;
}
.chat-container .discussion-container {
  max-height: 400px;
  padding: 0 5px;
  overflow-y: auto;
  overflow-x: clip;
}
.chat-container .box-message-container {
  display: flex;
  margin: 0.5em 0;
}
.chat-container .box-message-container.user{
  justify-content: flex-end;
}
.chat-container .message-container {
  border-radius: 8px 8px 8px 0;
  padding: 0.4em 0.5em;
  max-width: -webkit-fill-available;
}
.chat-container .user > .message-container {
  border-radius: 8px 8px 0 8px;
}
.chat-container .message-container p,
.chat-container .message-container ul,
.chat-container .message-container ol {
  margin-block-start: 0em !important;
}
.chat-container .message-container .chat-info {
  margin: 0;
}
.chat-container .message-container pre.prettyprint{
  max-height: unset;
}
.chat-container .input-container {
  padding: 8px 12px;
  border: solid 1px;
  border-radius: 8px;
}
.chat-container textarea {
  width: -webkit-fill-available;
  resize: none;
  border: none;
  font-family: inherit;
}
.chat-container .info-container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.chat-container .send-button {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
.chat-container .send-button[disabled] {
  fill-opacity: 0.4;
  cursor: not-allowed;
}

.bard-image-link {
  display: inline;
}
.bard-image-link img {
  display: block;
  margin: 1em 0;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 25%) 1px 1px 5px 0;
}

.optisearchbox[optichat=chatgpt] a > img {
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 25%) 1px 1px 5px 0;
}


/* COLOR THEMES */

.bright .chatgpt-button {
  color: #222222;
  border-color: #dcdcdc;
  background: #f7f7f7;
}

.dark .chatgpt-button {
  color: #dcdcdc;
  border-color: #222222;
  background-color: #3b3b3b;
}

.bright .chatgpt-button:active {
  border-color: #bbc0c4;
}

.dark .chatgpt-button:active {
  border-color: #979797;
}

.bright .chatgpt-button:hover {
  color: black;
}

.dark .chatgpt-button:hover {
  color: white;
}

.bright[optichat] a.source {
  color: #123bb6;
  background-color: #d1dbfa;
}
.dark[optichat] a.source {
  background-color: #293740;
}

.bright .chat-container .message-container {
  color: #222222;
  background: #f7f7f7;
}
.dark .chat-container .message-container {
  color: #dcdcdc;
  background-color: #3b3b3b;
}
.bright .chat-container .user > .message-container{
  color: white;
  background-color: #0051ff;
}
.dark .chat-container .user > .message-container {
  background-color: #0068eb;
}

.bright .chat-container pre,
.bright .chat-container code {
  background-color: white;
}

.bright .chat-container .input-container {
  /* background-color: #f7f7f7; */
  border-color: #d9d9d9;
}
.dark .chat-container .input-container {
  /* background-color: #3b3b3b; */
  border-color: #969696;
}
.chat-container textarea {
  background-color: inherit;
}
.chat-container textarea:focus {
  outline: none;
  border: none;
}

.bright .message-container pre.prettyprint{
  background-color: #eeeeee;
}

.bright select {
  border-color: #ccc;
}
.dark select {
  border-color: #333;
}