.optisearchbox .chatgpt-button{
  padding: 0.5em;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  display: block;
  transition: 0.3s;
}

.optisearchbox .chatgpt-button {
  width: 100%;
  padding: 8px 10px;
  margin: .5em 0;
  border-radius: 5px;
  border: 1px solid;
}

.optisearchbox .optichat .optifoot a{
  white-space: nowrap;
  padding: 3px  5px;
  border-radius: 3px;
  margin: 2px;
  line-height: 1.8em;
}
.optisearchbox .chat-title{
  bottom: 7px;
  position: relative;
  margin: 0px 10px;
}
.optisearchbox .chat-info{
  margin-top: 1em;
  margin-bottom: 1em;
}

.optisearchbox .ai-name {
  display: inline-block;
  position: relative;
  user-select: none;
}

.optisearchbox .switch {
  position: absolute;
  bottom: 30%;
  transition: opacity 0.2s;
  opacity: 0;
}

.optisearchbox .optiheader:hover .switch {
  opacity: 1;
}

/* COLOR THEMES */

.bright.optisearchbox .chatgpt-button{
  color: #222222;
  border-color: #dcdcdc;
  background: #f7f7f7;
}

.dark.optisearchbox .chatgpt-button{
  color: #dcdcdc;
  border-color: #222222;
  background-color: #3b3b3b;
}

.bright.optisearchbox .chatgpt-button:active{
  border-color: #bbc0c4;
}

.dark.optisearchbox .chatgpt-button:active{
  border-color: #979797;
}

.bright.optisearchbox .chatgpt-button:hover{
  color: black;
}

.dark.optisearchbox .chatgpt-button:hover{
  color: white;
}

.bright.optisearchbox .optichat .optifoot a{
  background-color: #f6f6f6;
}
.dark.optisearchbox .optichat .optifoot a{
  background-color: #363636;
}