.optisearchbox[data-chat]:not(.asked) > hr,
.optisearchbox[data-chat]:not(.asked) > .optibody,
.optisearchbox[data-chat]:not(.asked) .left-buttons-container {
    display: none;
}

.optisearchbox[data-chat].asked .ask-button {
    display: none;
}

.optisearchbox[data-chat] .optiheader {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.optisearchbox[data-chat] .title {
  font-size: 1.3em;
}

.chatgpt-button {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin: 0.5em 0;
  border-radius: 5px;
  border: 1px solid;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}

.chatgpt-button.ask-button {
    margin: auto;
    margin-left: 1em;
    margin-right: 3em;
    max-width: 100%;
    min-width: 30%;
}

.chatgpt-button[name=google-account] {
  font-size: medium;
  text-align: left;
}


.optisearchbox[data-chat] .optifoot a.source {
  position: relative;
  white-space: nowrap;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 2px 1px;
  line-height: 1.8em;
}
.optisearchbox[data-chat] a.source.superscript {
  font-size: smaller;
  bottom: 0.5em;
  padding: 1px 4px;
  position: relative;
  border-radius: 3px;
}
.chat-title {
  vertical-align: super;
  position: relative;
  margin: 0px 5px;
  cursor: pointer;
}

a.chat-title {
  color: inherit !important;
}

.chat-title:hover {
  text-decoration: underline;
}

.chat-info {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ai-name {
  display: inline-block;
  position: relative;
  user-select: none;
  white-space: nowrap;
}

.learnmore > a[data-invisible-count="0"] {
  display: none;
}
.learnmore > .showmore {
  cursor: pointer;
}
.learnmore.less > a[more] {
  display: none;
}

/*---------------Discussion------------------*/
.response-container .input-container,
.response-container .box-message-container.user{
  display: none;
}
.response-container .message-container {
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.chat-container *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.chat-container *::-webkit-scrollbar-thumb {
  background-color: #686868;
  border-radius: 20px;
}
.chat-container .discussion-container {
  max-height: 400px;
  padding: 0 5px;
  overflow-y: auto;
  overflow-x: clip;
}
.chat-container .box-message-container {
  display: flex;
  margin: 0.5em 0;
}
.chat-container .box-message-container.user{
  justify-content: flex-end;
}
.chat-container .message-container {
  border-radius: 8px 8px 8px 0;
  padding: 0.4em 0.5em;
  max-width: -webkit-fill-available;
}
.chat-container .user > .message-container {
  border-radius: 8px 8px 0 8px;
}
.chat-container .message-container p,
.chat-container .message-container ul,
.chat-container .message-container ol {
  margin-block-start: 0em !important;
}
.chat-container .message-container .chat-info {
  margin: 0;
}
.chat-container .message-container pre.prettyprint{
  max-height: unset;
}
.chat-container .input-container {
  padding: 8px 12px;
  border: solid 1px;
  border-radius: 8px;
}
.chat-container textarea {
  width: -webkit-fill-available;
  resize: none;
  border: none;
  font-family: inherit;
}
.chat-container .info-container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.chat-container .send-button {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
.chat-container .send-button[disabled] {
  fill-opacity: 0.4;
  cursor: not-allowed;
}

.bard-image-link {
  display: inline;
}
.bard-image-link img {
  display: block;
  margin: 1em 0;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 25%) 1px 1px 5px 0;
}




/* COLOR THEMES */

.bright .chatgpt-button {
  color: #222222;
  border-color: #dcdcdc;
  background: #f7f7f7;
}

.dark .chatgpt-button {
  color: #dcdcdc;
  border-color: #222222;
  background-color: #3b3b3b;
}

.bright .chatgpt-button:active {
  border-color: #bbc0c4;
}

.dark .chatgpt-button:active {
  border-color: #979797;
}

.bright .chatgpt-button:hover {
  color: black;
}

.dark .chatgpt-button:hover {
  color: white;
}

.bright[data-chat] a.source {
  color: #123bb6;
  background-color: #d1dbfa;
}
.dark[data-chat] a.source {
  background-color: #293740;
}

.bright .chat-container .message-container {
  color: #222222;
  background: #f7f7f7;
}
.dark .chat-container .message-container {
  color: #dcdcdc;
  background-color: #3b3b3b;
}
.bright .chat-container .user > .message-container{
  color: white;
  background-color: #0051ff;
}
.dark .chat-container .user > .message-container {
  background-color: #0068eb;
}

.bright .chat-container pre,
.bright .chat-container code {
  background-color: white;
}

.bright .chat-container .input-container {
  /* background-color: #f7f7f7; */
  border-color: #d9d9d9;
}
.dark .chat-container .input-container {
  /* background-color: #3b3b3b; */
  border-color: #969696;
}
.chat-container textarea {
  background-color: inherit;
}
.chat-container textarea:focus {
  outline: none;
  border: none;
}

.bright .message-container pre.prettyprint{
  background-color: #eeeeee;
}

.bright select {
  border-color: #ccc;
}
.dark select {
  border-color: #333;
}