:root {
  --line-dark: #34363e;
  --expand-time: 0.5s;
  --opti-max-width: 600px;
}
#optiexpr {
  padding-left: 20px;
  position: relative;
  overflow: auto;
  font-size: 18px;
}
#optiplot {
  padding: 0px;
  margin: 5px;
  overflow: auto;
}

#opticalculator {
  height: 400px;
  width: 400px;
  padding: 0px;
}

.optisearchbox {
  margin: 20px 0 20px 0;
  border-radius: 8px;
  min-width: 250px;
  max-width: var(--opti-max-width);
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 2px 0px, rgb(0 0 0 / 15%) 1px 3px 8px 0px;
  overflow: hidden;
  transition: min-width var(--expand-time) linear;
}

.optisearch-column-wide .optisearchbox {
  min-width: var(--opti-max-width);
}

.optisearchbox.mobile {
  width: 100%;
  max-width: unset;
  margin: 0;
  border-radius: 0;
}

.optisearchbox.bright {
  color: #202124;
  background-color: #fff;
}
.optisearchbox.dark {
  color: rgb(215, 210, 204);
  color-scheme: dark;
}

.optisearchbox .unfold_button {
  width: 100%;
  text-align: left;
  height: 2rem;
  border: 1px rgb(220, 220, 220);
  cursor: pointer;
  position: relative;
  box-shadow: rgb(255 255 255) 0px -15px 20px -3px;
  padding: 10px 0px 0px 10px;
  font-size: smaller;
}
.optisearchbox.dark .unfold_button {
  box-shadow: rgb(0, 0, 0) 0px -15px 20px -3px;
}
.optisearchbox .unfold_button:active {
  background-color: rgb(177, 177, 177);
}

.optipanel {
  margin: 0px 5px 0px 5px;
  padding: 15px 15px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 15px;
  position: relative;
  transition: max-height 5s;
  /* overflow-y: auto; */
  max-height: initial;
  line-height: 1.5em;
}

.folded {
  overflow-y: hidden;
  max-height: 400px;
}

.optisearchbox .watermark {
  position: absolute;
  right: 0;
  margin: 0px 15px;
  color: #999999;
}

.optipanel .watermark {
  font-size: 10px;
  top: 5px;
}

.optiheader .headerhover {
  opacity: 0;
  transition: opacity 0.2s;
}
.optiheader:hover .headerhover {
  opacity: 1;
}

.optisearchbox .optiheader .left-buttons-container-2 {
  position: relative;
  display: block;
  min-width: fit-content;
  margin-left: 5px;
  top: 5px;
}
.optisearchbox .optiheader .left-buttons-container-2 > * {
  margin-left: 5px;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}
.optisearchbox .optiheader .left-buttons-container-2 [disabled] {
  fill-opacity: 0.4;
  cursor: not-allowed;
}

.optisearchbox .optiheader .left-buttons-container-2 img {
  width: 20px;
  height: 20px;
}

.optisearchbox .optiheader .right-buttons-container {
  position: absolute;
  display: block;
  right: 0;
  top: 24px;
  min-width: fit-content;
  margin-right: 15px;
}

.optisearchbox .optiheader .right-buttons-container > * {
  margin-left: 5px;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  position: relative;
  transition: color 0.3s, text-shadow 0.3s;
}
.optisearchbox .optiheader .right-buttons-container a {
  text-decoration: none;
  color: inherit !important;
}
.optisearchbox.bright .optiheader .right-buttons-container {
  color: #bdbdbd;
}
.optisearchbox.bright .optiheader .right-buttons-container > *:hover {
  color: black;
}
.optisearchbox.dark .optiheader .right-buttons-container > *:hover {
  color: white;
  text-shadow: 0 0 15px white;
}

.optisearchbox .optiheader .right-buttons-container .donate {
  font-size: 20px;
}
.optisearchbox .optiheader .right-buttons-container .donate:hover {
  color: #ff4949;
}
.optisearchbox .optiheader .right-buttons-container .rate {
  font-size: 24px;
}
.optisearchbox .optiheader .right-buttons-container .rate:hover {
  color: #ffe03e;
}

.optisearchbox .optiheader .right-buttons-container .new-expand-arrow {
  font-size: 24px;
  transition: transform var(--expand-time) ease-in-out, color 0.3s, text-shadow 0.3s;
  cursor: pointer;
  transform-origin: center;
}
.optisearch-column-wide .optisearchbox .new-expand-arrow {
  transform: rotate(-180deg);
}

.optisearchbox .optiheader {
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-auto-columns: 75% 1fr;
}

.optipanel .title {
  font-size: large;
  font-weight: bold;
  line-height: initial;
  word-wrap: break-word;
}
.optisearchbox.bright .optipanel .title.result-title {
  color: #1a0dab;
}

.optiheader a.result-link:hover > .result-title {
  text-decoration: underline;
}
.optiheader a.result-link:link {
  text-decoration: none !important;
}

.optipanel .optilink {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  padding-top: 5px;
  font-style: normal;
  font-size: small;
}

.bright .optipanel .optilink {
  color: #3c4043 !important;
}
.optisearchbox.dark .optipanel .optilink {
  color: rgb(167, 159, 147) !important;
}

.optipanel .optilink img {
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -3px;
  max-width: 16px;
  display: inline;
}

.optipanel hr {
  height: 1px;
  margin: 0.5em;
  border: 0px;
  background-color: rgb(220, 220, 220);
}
.optisearchbox.dark .optipanel hr {
  background-color: var(--line-dark);
}

.optipanel .opticopy {
  position: absolute;
  width: auto;
  height: auto;
  right: 6px;
  top: 6px;
  user-select: none;
  font-size: x-small;
  opacity: 70%;
}

.optipanel .opticopy svg {
  width: 15px;
  height: 15px;
  stroke: #bbc0c4;
}
.optipanel .opticopy svg:hover {
  stroke: #9fa6ad;
  cursor: pointer;
}
.optipanel .optibody p,
.optipanel .optibody ul,
.optipanel .optibody ol {
  line-height: 1.5;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.optipanel .optibody ul,
.optipanel .optibody ol {
  padding-left: 15px;
}
.optipanel .optibody img {
  max-width: 100%;
}

.optipanel .optibody li,
.optipanel .optibody ol {
  list-style: initial;
  margin: 0.4rem;
  padding: 0 0.4rem;
}

.optipanel blockquote {
  position: relative;
  padding-left: 12px;
}

.optipanel blockquote:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  height: inherit;
  border-radius: 8px;
  background: #c8ccd0;
}

.optipanel code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
  padding: 0.25em 0.25em;
  border-radius: 3px;
  font-size: 100%;
}

.optipanel pre code {
  display: block;
}

.optipanel pre {
  border: 0px;
  margin-bottom: 1em;
  padding: 12px 8px;
  width: auto;
  max-height: 600px;
  overflow: auto;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-size: 13px;
  border-radius: 3px;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  white-space: pre-wrap;
}

.optipanel .optibody {
  /* overflow: auto; */
}

.optipanel a {
  text-decoration: none;
}
.bright .optipanel a {
  color: #0077cc;
}
.optisearchbox.dark .optipanel a {
  color: #8ab4f8;
}
.optipanel a:hover {
  text-decoration: underline;
}

.optipanel span.mwe-math-element {
  display: inline-flex;
}
.optipanel .stackfoot .d-none {
  display: none;
}

.optipanel .stackfoot {
  margin-top: 15px;
  line-height: 23px;
  font-size: small;
}

.optisearchbox.bright pre,
.optisearchbox.bright code  {
  background: #f7f7f7;
}

.optisearchbox.dark pre,
.optisearchbox.dark code  {
  background: #222;
}

/*recherche associes position fixed google*/
#rhs .z2QsLb {
  position: unset !important;
}

.dark.optisearchbox.DuckDuckGo {
  background-color: #282828;
}

.dark.optisearchbox.DuckDuckGo pre,
.dark.optisearchbox.DuckDuckGo code {
  background-color: #222;
}
