/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.bright .prettyprint { background: #f7f7f7; }

a .prettyprint .pln,
a .prettyprint .pun { color: #0077cc; }

.bright .prettyprint .pln { color: #4d4d4c; }

/* Specify class=linenums on a pre to get line numbering */
.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #8e908c;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #ffffff;
  list-style-type: decimal;
}

@media screen {
  .prettyprint .str { color: #718c00; } /* string content */
  .prettyprint .kwd { color: #8959a8; } /* keyword */
  .prettyprint .com { color: #8e908c; } /* comment */
  .prettyprint .typ { color: #4271ae; } /* type name */
  .prettyprint .lit { color: #f5871f; } /* literal value */
  .prettyprint .pun { color: #4d4d4c; } /* punctuation */
  .prettyprint .opn { color: #4d4d4c; } /* lisp open bracket */
  .prettyprint .clo { color: #4d4d4c; } /* lisp close bracket */
  .prettyprint .tag { /* markup tag name */    
    color: #c82829;
    border: initial;
    background: initial;
    padding: initial;
    line-height: 1;
  }

  .prettyprint .atn { color: #f5871f; } /* markup attribute name */
  .prettyprint .atv { color: #3e999f; } /* markup attribute value */
  .prettyprint .dec { color: #f5871f; } /* declaration */
  .prettyprint .var { color: #c82829; } /* variable name */
  .prettyprint .fun { color: #4271ae; } /* function name */
}
