/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

.optisearchbox.dark .prettyprint , .optisearchbox.dark .pre-surround .prettyprint{
  background: #222;
  border-radius: 8px;
}

.optisearchbox.dark .prettyprint .str { color: #65B042; } /* string  - green */
.optisearchbox.dark .prettyprint .kwd { color: #E28964; } /* keyword - dark pink */
.optisearchbox.dark .prettyprint .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
.optisearchbox.dark .prettyprint .typ { color: #89bdff; } /* type - light blue */
.optisearchbox.dark .prettyprint .lit { color: #3387CC; } /* literal - blue */
.optisearchbox.dark .prettyprint .pun { color: #fff; } /* punctuation - white */
.optisearchbox.dark .prettyprint .pln { color: #fff; } /* plaintext - white */
.optisearchbox.dark .prettyprint .tag { color: #89bdff; } /* html/xml tag    - light blue */
.optisearchbox.dark .prettyprint .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
.optisearchbox.dark .prettyprint .atv { color: #65B042; } /* html/xml attribute value - green */
.optisearchbox.dark .prettyprint .dec { color: #3387CC; } /* decimal - blue */


.optisearchbox.dark .pre.prettyprint {
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
.optisearchbox.dark ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
.optisearchbox.dark li.L0, .optisearchbox.dark li.L1, .optisearchbox.dark li.L2, .optisearchbox.dark li.L3, .optisearchbox.dark li.L5, .optisearchbox.dark li.L6, .optisearchbox.dark li.L7, .optisearchbox.dark li.L8 { list-style-type: none }
/* Alternate shading for lines */
.optisearchbox.dark li.L1, .optisearchbox.dark li.L3, .optisearchbox.dark li.L5, .optisearchbox.dark li.L7, .optisearchbox.dark li.L9 { }

@media print {
  .optisearchbox.dark .prettyprint .str { color: #060; }
  .optisearchbox.dark .prettyprint .kwd { color: #006; font-weight: bold; }
  .optisearchbox.dark .prettyprint .com { color: #600; font-style: italic; }
  .optisearchbox.dark .prettyprint .typ { color: #404; font-weight: bold; }
  .optisearchbox.dark .prettyprint .lit { color: #044; }
  .optisearchbox.dark .prettyprint .pun { color: #440; }
  .optisearchbox.dark .prettyprint .pln { color: #000; }
  .optisearchbox.dark .prettyprint .tag { color: #006; font-weight: bold; }
  .optisearchbox.dark .prettyprint .atn { color: #404; }
  .optisearchbox.dark .prettyprint .atv { color: #060; }
}

